# Example Environment Variables
# Copy this file to .env and fill in your actual values
# DO NOT commit the .env file to version control

# Sentry DSN for error reporting
# Get this from your Sentry project settings
SENTRY_DSN=https://your-sentry-dsn-here@sentry.io/your-project-id


# Google Analytics Measurement ID and API Secret
# You obtain it in:
# Google Analytics → Admin → Data collection and modification → Data streams → your Web stream → Measurement Protocol API secrets
GOOGLE_ANALYTICS_MEASUREMENT_ID=*****
GOOGLE_ANALYTICS_API_SECRET=*****